<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <title>Car Center Management System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.js"></script>
</head>
<header th:fragment="headerCustomer">
    <h1 class="text-center">Car Center Management System</h1>
    <br>
    <nav class="h5 navbar navbar-expand-lg navbar-light bg-primary-subtle" th:fragment="navigation">
        <div class="collapse navbar-collapse" id="navbarCustomer">
            <!--            <ul class="navbar-nav ms-0">-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link">Logged in as ...... /a>-->
            <!--                </li>-->
            <!--            </ul>-->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/appointments/create-appointment">New appointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/appointments">View appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cars">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cars/create-car">Add car</a>
                </li>
            </ul>
            <!--            <ul class="navbar-nav ms-auto">-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link link-danger" href="/logout">Logout</a>-->
            <!--                </li>-->
            <!--            </ul>-->
        </div>
    </nav>
</header>
<header th:fragment="headerEmployee">
    <h1 class="text-center">Car Center Management System</h1>
    <br>
    <nav class="h5 navbar navbar-expand-lg navbar-light bg-primary-subtle" th:fragment="navigation">
        <div class="collapse navbar-collapse" id="navbarEmployee">
            <!--            <ul class="navbar-nav ms-0">-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link" th:text="Logged in as Georgi Gazepov">Logged in as georgi gazepov</a>-->
            <!--                </li>-->
            <!--            </ul>-->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/appointments/create-appointment">New appointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/appointments">View appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cars">Cars</a>
                </li>
            </ul>
            <!--            <ul class="navbar-nav ms-auto">-->
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link link-danger" href="/logout">Logout</a>-->
            <!--                </li>-->
            <!--            </ul>-->
        </div>
    </nav>
</header>

<footer page-footer font-small>
    <div class="footer-copyright fixed-bottom text-center py-3">© 2024 Copyright:
        <a href="#"> Car Center Management System</a>
    </div>
</footer>
</html>